/* @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'VT323', monospace;
  background-color: #e5e5e5;
  color: #828282;
  padding-top: 3rem;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: 'VT323', monospace;
  display: inline-block;
  text-align: center;
  margin: 5px auto;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  font-size: 16px;
  color: #828282;
}

button {
  font-family: 'Chakra Petch', sans-serif;
  width: 80px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  font-size: 16px;
  color: #828282;
  margin: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

.clear-btn {
  background: #f6a761;
  color: #f7f6f7;
}

.math-sign {
  width: 40px;
}

.light {
  box-shadow: -2px -3px 19px 1px rgba(135, 135, 135, 0.58) inset;
}

#result {
  width: 200px;
  border: 2px solid #c6c5c5;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 1.5em 1.5rem;
  text-align: center;
}